A   {text-decoration: none; color:blue}
A:hover {text-decoration: underline}

TABLE {border-collapse: collapse; border:1px solid black;}
TD {padding: 3; border:1px solid black;}

.nabidka A:LINK, .nabidka A:VISITED {color: white}
.nabidka A:HOVER   {color: white; text-decoration: underline}
.nabidka {background-color: red; color: white; text-align: center; width: 200;}

.tab TABLE {border: 2 solid black; border-collapse:collapse}
.tab TH {border: 1 solid black; border-bottom:2 solid black}
.tab TD {border: 1 solid black}

.dotaznik TABLE {border: 2 solid black; border-collapse:collapse; table-layout:auto}
.dotaznik TD {border: 1 dashed black; min-width: 300}

.chyba {color: red; font-weight: bold; font-size: small}

.help {color: gray; font-size: small}

.souhrn_radek {background-color:rgb(230,230,250)}

.detail_vyhody {text-align:right}

.chybi {border-color:red;border-style:solid}

#filtr {float:left; padding:5px; position:absolute; text-align:left; max-width:360px; border:1px dashed black; line-height:24px; margin-bottom:40px;}

#pokr {float:right; padding:5px; text-align:right; width:300px; border:1px dashed black; background-color:rgb(247,247,247);}
#pokr2 {float:right; padding:5px; text-align:right; width:300px; border:1px dashed black; clear:right; margin-top:5px; margin-bottom:50px; line-height:24px;}
#vystup {border:3px solid black; text-align:center; margin:0 auto; padding:50px; width:450px;}
#bal {float:right; clear:right; border:1px dashed black; text-align:left; padding:5px; width:350px;}

INPUT[type="number"] {float:right; clear:left; width:68px; text-align:right;}

OL {text-align:left;}
OL > LI{font-size:20px; margin-top:10px;}
UL {margin-top:0px;}

H3 {margin-top:4px;}
H4 {line-height:0px; margin-bottom:4px;}

.suma {background-color:rgb(176,224,230); border-bottom:2px solid black;}
.suma > INPUT {background-color:transparent; border-color:transparent;} 
 

